*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  line-height: 1.5;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;

}